extends layout

block content
  h1= title
  p Hello yacht.pug #{title}
  - const result = results
  .container-fluid
    .row
      each yacht,index in result
        div(class="col-sm-2" onclick=`purchase(${index})`)
          h3 #{yacht.Color}
          p Yacht_Number: #{yacht.Yacht_Number}
          p Capacity: $#{yacht.Sizeof_Yacht}
  
  script.
    function purchase(index) {
        alert(`You purchased : ${index}`)}
  