extends layout

block content
  h1= title
  p Hello yacht.pug #{title}
  - const result = results
  .container-fluid
    div(class="row m-1")
      each index in result
        - let destination = `dispatch(\"/yacht/update?id=${index._id}\")`
        div(class="col-sm-2", class="m-1") Index #{index.Color} of #{index.Yacht_Number} is #{index.Sizeof_Yacht}
          button.btn(class="btn-primary m1-1", onclick=destination) Update
    script.
      function dispatch(path) {
        window.location.href = path
      }
